@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background:lighten($background, 7.5%),
  $hover-border:lighten($border, 10%),
  $hover-color: $color
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &[disabled],
  &.disabled {
    color: $color;
    background: $background;
    border-color: $border;
  }
}

@mixin keyframes($a) {
  @-webkit-keyframes #{$a} {
    @content;
  }
  @-moz-keyframes #{$a} {
    @content;
  }
  @keyframes #{$a} {
    @content;
  }
}

@mixin button-loading(
  $opacity,
  $background,
  $border,
  $color
) {
  opacity: $opacity;
  color: $color;
  background: $background;
  border-color: $border;
  pointer-events: none;
}
